{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">À propos de nous</h1>
        
        <div class="card mb-4">
            <div class="card-body">
                <h3>ESMT - École Supérieure Multinationale des Télécommunications</h3>
                <p class="lead">Notre mission est de former les futurs leaders du numérique en Afrique.</p>
                
                <h4 class="mt-4">Notre vision</h4>
                <p>Devenir un centre d'excellence reconnu internationalement dans le domaine des télécommunications et du numérique.</p>
                
                <h4 class="mt-4">Cette application</h4>
                <p>Développée dans le cadre d'un projet de fin d'études, cette plateforme de gestion de projets collaboratifs vise à faciliter le travail d'équipe entre enseignants et étudiants.</p>
                
                <h4 class="mt-4">Fonctionnalités principales</h4>
                <ul>
                    <li>Gestion de projets et tâches</li>
                    <li>Suivi de progression en temps réel</li>
                    <li>Système de primes pour les enseignants</li>
                    <li>Statistiques détaillées</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}